@model PD.Model.Download

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<div class="form-box" align="center">
    <form id="download-model" method="post">
        <table class="model-table" style="margin-top: 10px;">

            <tr>
                <td>
                    <span>名称:&nbsp;</span>
                    <input name="Name" class="easyui-validatebox" data-options="required:true" value="@Model.Name" style="width: 350px"  /></td>
            </tr> 
            <tr>
                <td>
                    <span>简介:&nbsp;</span>
                    <input name="Desc" class="easyui-validatebox" data-options="required:true" value="@Model.Desc" style="width: 350px"  /></td>
            </tr> 

            <tr>
                <td>

                <span>上传文件</span>
                    <input id="download-img" name="File" type="hidden" value="@Model.File" />
                    <span>@Model.File</span>
                    <a class="easyui-linkbutton" href="javascript:void(0)" onclick="DownloadUpload()" data-options="plain:true,iconCls:'icon-add'">上传</a>
                @*<span >图片上传后会自动裁剪为合适的尺寸。</span>*@
                
                </td>
            </tr>
        </table>
        <input name="ID" id="newid" type="hidden" value="@Model.ID" />
    </form>
</div>

